.hide {
  display: none;
}
.transit {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
// Top select form Anchors
a.select_form {
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  display:inline-block;
  margin: 8px; 
  padding: 3px 12px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: var(--fore-color);
}
.select_form:hover:not(.active) {
  border-bottom: 2px solid var(--border-color);
}
a.select_form.inactive {
  opacity: 0.7;
}
a.select_form.active {
  padding: 3px 19px;
  border-bottom: 2px solid var(--mark-back-color);
}
// The Form
form {
  border: none;
  margin: 0;
  background-color: transparent;
  padding-top: 0.5em;
  padding-bottom: 0;
  position: relative;
  text-align: center;
}
legend {
  margin:0;padding: 0;
  font-weight: 600;
  color: #4e4e4e;
}
legend, legend:hover{
  cursor: default;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
fieldset:disabled, fieldset:disabled *  {
  opacity: 0.4;
}
fieldset:disabled:hover, fieldset:disabled input:hover, fieldset:disabled button:hover,  fieldset:disabled a:hover {
  cursor: wait;
  user-select: none;
  z-index: -1;
}
// Form Input Fields
input[type=email], input[type=password] {
  text-align: center;
  margin: 5px;
  width: 65%;
  font-size: 16px;
}
input:placeholder-shown, ::placeholder {
  font-style: italic;
  font-weight: normal;
  color: #7c7c7c;
  font-size: 0.9em;
}
input[type=email]:focus,input[type=password]:focus {
  border-bottom: 2px solid #5fbae9;
  font-weight: 400;
}
/* Form Buttons */
button, button:active  {
  color: var(--mark-fore-color);
  background-color: var(--mark-back-color);
  border: none;
  padding: 0.75em 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0.75em;
}
button:hover {
  cursor: pointer;
}
button:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
// Reset Password Anchor
a.forgot {
  color: var(--secondary-fore-color);
  text-decoration: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em;
  letter-spacing: 0.25em;
}
a.forgot:hover{
  color: var(--fore-color);
  border-bottom: 2px solid var(--border-color);
  cursor: pointer;
}
a.forgot:active {
  border-bottom: 2px solid var(--blockquote-color);
}